*{
    margin: 0;
    box-sizing: border-box;

}
body{
    min-height: 100svh;

}

h1{
    text-align: center;
    margin-block: 40px;
}

div{
    display: grid;
    place-items: center;
    border: solid 1px black;
    min-height: 100px;
}